.main {
  margin: 0 auto;
  max-width: 1200px;
}

.mainWide {
  margin: 0 2rem;
  max-width: none;
}

.mainMenu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mainWide .mainMenu {
  margin: 0 auto;
  max-width: 1200px;
}

.tabs {
  border-top: 1px solid #000;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.active {
  border: 1px solid #000;
  border-top-color: #fff;
  margin-top: -1px;
}

.tabs button {
  background: var(--silver);
}

.tabs .active button {
  background: var(--gray);
}

.newGame {
  background: var(--blue);
  color: #fff;
  /* float: right; */
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
