@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");

:root {
  --blue: #0074d9;
  --red: #ff4136;
  --orange: #ff851b;
  --green: #2ecc40;
  --yellow: #ffdc00;
  --silver: #ddd;
  --gray: #aaa;
  --black: #111;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Bitter", serif;
  color: var(--black);
  padding-bottom: 4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
button {
  font-family: "Bitter", serif;
}

button {
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

button:hover {
  filter: brightness(85%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
